<div class="transparentbox">
  <h2>PROFILE</h2>
  <div>
    <h3>Welcome Back!</h3>
    <a href='/appointment'><button type="button" class="btn btn-default btn-lng">appointment an appointment through us!</button></a>

    <% if(appointment.name <=0) { %>
      <h2 class='text-center'>No current appointments</h2>
    <%} else {%>
    <% appointment.forEach(function(appointment){%>
    <div class="list">
      <br>
      <ul>
          <div><li><h4><%= appointment.date %></h4></li></div>
          <div><li><h4><%= appointment.time %></h4></li></div>
          <div><li><h4><%= appointment.spa %></h4></li></div>
      </ul>
          <a href="/spa/<%=appointment.id%>" class="btn btn-danger glyphicon glyphicon-trash delete-sp"></a>
    </div>
    <% }) %>
    <% }; %>
  </div>
</div>
