<h2>PROFILE PAGE</h2>
	<div>
		<h3 class="text-center">
		<h3>Welcome back, <%= currentUser.firstname %></h3>
	  <a href='/schedule'><button type="button" class="btn btn-default btn-lng">Schedule appointment or search a local Spa</button></a>
		</h3>
	  <% if (appointments.length <= 0) {%>
	   <h2 class = "text-center">Appointments Empty</h2>
	  <%} else {%>
	  <% appointments.forEach(function(item) {%>
	  <div class="list">
	  <br>
	      <ul>
	          <li><h4><%= item.name %></h4></li>
	          <li><h4><%= item.nextnotice %></h4></li>
				</ul>
					<a href="/appointments/<%=item.id%>" class="btn btn-danger delete-appoinment"></a>
		</div>
		<% }) %>
		<% }; %>
	</div>
</div>
