body {
  background-image: url('http://www.4usky.com/data/out/86/164775498-spa-wallpapers.jpg');
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
  color: white;
  font-family: 'Pontano Sans', sans-serif;
}
label{
  font-size: 20px;
  font-weight: bold;
  color: #00000;
}
li{
  list-style: none;
}
.container{
  font-size: 16px;
}
.navbar-brand{
  font-family: 'Pontano Sans', sans-serif;
}
.navbar-default{
  min-height: 200px;
}
.transparentbox{
  margin: 35px;
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid black;
  text-align: center;
  font-family: 'Pontano Sans', sans-serif;
  font-weight: bold;
  color: #00000;
}
.transparentbox2{
  margin: 35px;
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid black;
  font-family: 'Pontano Sans', sans-serif;
  font-weight: bold;
  color: #00000;
}
.links{
  color: #00000;
  font-weight: bold;
}
.text-center{
  font-family: 'Pontano Sans', sans-serif;
  font-weight: bold;
  color: #00000;
}
.col{
  font-family: 'Pontano Sans', sans-serif;
  font-weight: bold;
  color: #00000;
}
.form-control{
  font-family: 'Pontano Sans', sans-serif;
  font-weight: bold;
  color: #00000;
}


.logo{
  height: 80px;
  width: 80px;
}
